<!-- 
    - Use pagination to make a difference between register and log in
    - when regestering;
        - Check if the user is already registered (AJAX)
        - Make sure something is a valid email
        - make sure you have a unique login
        - when done, login and lead to the profile page
    - when logging in;
        - Check if the user is already registered (AJAX)
        - Check if the password is correct
        - when done, lead to the profile page
-->
<!DOCTYPE html>
<html>
<head>
    <title>Registration and Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>        
    <header>
        <!-- Title and navbar -->
        <h1>Sign In</h1>
    </header>
    <nav>
        <div class ="navbar" id="navbar">
            <ul>            
                <li><a href="../Public/index.html" >Home</a></li>
                <li><a href="register.html" >Sign In</a></li>
                <li><a href="Profile.html" >Profile</a></li>
            </ul>
        </div>
    </nav>
    
    <!-- Form for logging in / signing in and random sign in information -->
    <h1 id="loginTitle">Welcome Back!</h1>
    <p id="loginText">Sign in to your librarry account for:
        <ul id="loginList">
            <li>Viewing your profile</li>
            <li>Changing your personal information</li>
            <li>Reserving books</li>
            <li>Checking out books</li>
            <li>Returning books</li>
        </ul>
    </p>
    <form id="loginForm" action="/login" method="post">
        <label for="loginUsername">Username:</label><br>
        <input type="text" id="loginUsername" name="loginUsername" required><br>
        <label for="loginPassword">Password:</label><br>
        <input type="password" id="loginPassword" name="loginPassword" required><br>
        <input type="submit" value="Login">
    </form>
    <button id="createAccountButton">Create Account</button>

    <!-- Form for registering -->
    <h1 id="registerTitle" style="display: none;">Get started!</h1>
    <p id="registerText" style="display: none;"> Enter your details below to get started on your library journey:</p>

    <form id="registerForm" action="/register" method="post" style="display: none;">
        <label for="registerEmail">Email:</label><br>
        <input type="email" id="registerEmail" name="registerEmail" required><br>
        <label for="registerUsername">Username:</label><br>
        <input type="text" id="registerUsername" name="registerUsername" required><br>
        <label for="registerName">Full name:</label><br>
        <input type="text" id="firstName" name="firstName" required><br>
        <input type="text" id="lastName" name="registerName" required><br>
        <label for="registerUsername">Adress:</label><br>
        <input type="adress" id="registerAdress" name="registerAdress" required><br>
        <label for="registerAdress">Password:</label><br>
        <input type="password" id="registerPassword" name="registerPassword" required><br>
        <input type="submit" value="Register">
    </form>
    <button id="signInButton" style="display: none;">Sign In</button>
    <footer>
        WebTech 2024, group 49 
    </footer>
    <script src="script.js"></script>
</body>
</html>